:root {
    --bgColor: rgb(36, 56, 7);
    --textColor: rgb(83, 228, 8);
}

/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(icons.woff2) format('woff2');
}

.icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    color: var(--bgColor) !important;
}



.theme {
    background-color: var(--bgColor) !important;
    color: var(--textColor) !important;
}

.theme:matches(*) {
    background-color: var(--bgColor) !important;
    color: var(--textColor) !important;
}

.themeText {
    color: var(--textColor) !important;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
